vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Apr 2017 12:14:22 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|TRAFFORD-PC\\Trafford
vti_modifiedby:SR|DESKTOP-4DEO6E1\\dtraf
vti_timecreated:TR|29 Mar 2017 02:09:12 -0000
vti_backlinkinfo:VX|Jays/about.html Jays/contact.html Final_Project/packages.html Final_Project/packageTestPage.html Jays/index.html Final_Project/payment.html Final_Project/paymentTestPage.html Final_Project/package1.html Final_Project/package2.html Final_Project/package3.html Final_Project/package4.html
vti_nexttolasttimemodified:TW|04 Apr 2017 18:20:14 -0000
vti_cacheddtm:TX|22 Apr 2017 12:14:22 -0000
vti_filesize:IR|3288
vti_cachedlinkinfo:VX|S|../img/phone.png S|../img/mail.png S|../img/twitter.png
vti_cachedsvcrellinks:VX|FSUS|Son\\ Version/Final_Project\\ 3\\ ver3/img/phone.png FSUS|Son\\ Version/Final_Project\\ 3\\ ver3/img/mail.png FSUS|Son\\ Version/Final_Project\\ 3\\ ver3/img/twitter.png
