vti_encoding:SR|utf8-nl
vti_author:SR|TRAFFORD-PC\\Trafford
vti_modifiedby:SR|DESKTOP-4DEO6E1\\dtraf
vti_timelastmodified:TR|29 Nov 2016 17:55:38 -0000
vti_timecreated:TR|22 Nov 2016 20:04:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|PersonalPage/Project/Contact/Contact.html PersonalPage/Project/garbagefile.html PersonalPage/Project/Listings/Listings.html PersonalPage/Project/Template02.dwt PersonalPage/Project/Listings/Listing01/Listing01.html PersonalPage/Project/Template03.dwt PersonalPage/Project/default.html PersonalPage/Project/Listings/Listing02/Listing02.html PersonalPage/Project/Listings/Listing03/Listing03.html PersonalPage/Project/Listings/Listing04/Listing04.html PersonalPage/Project/Listings/Listing05/Listing05.html PersonalPage/Project/SiteMap/SiteMap.html PersonalPage/Project/HomePage/HomePage.html gargbage.html
vti_nexttolasttimemodified:TW|29 Nov 2016 17:57:32 -0000
vti_cacheddtm:TX|29 Nov 2016 17:55:38 -0000
vti_filesize:IR|3046
vti_cachedlinkinfo:VX|S|Chennai_interior_Independent_house_interior.jpg S|greybuttonimage.jpg
vti_cachedsvcrellinks:VX|FSUS|PersonalPage/Project/Chennai_interior_Independent_house_interior.jpg FSUS|PersonalPage/Project/greybuttonimage.jpg
