vti_encoding:SR|utf8-nl
vti_author:SR|TRAFFORD-PC\\Trafford
vti_modifiedby:SR|TRAFFORD-PC\\Trafford
vti_timelastmodified:TR|05 Dec 2016 18:10:56 -0000
vti_timecreated:TR|01 Dec 2016 20:41:53 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|PersonalPage/Project/Listings/Listing04/Listing04.html
vti_nexttolasttimemodified:TW|01 Dec 2016 20:41:53 -0000
vti_cacheddtm:TX|05 Dec 2016 18:10:56 -0000
vti_filesize:IR|998
