vti_encoding:SR|utf8-nl
vti_author:SR|TRAFFORD-PC\\Trafford
vti_modifiedby:SR|TRAFFORD-PC\\Trafford
vti_timelastmodified:TR|22 Mar 2017 22:14:24 -0000
vti_timecreated:TR|22 Mar 2017 19:33:14 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Assignment_4/submitPage.html
vti_nexttolasttimemodified:TW|22 Mar 2017 20:07:43 -0000
vti_cacheddtm:TX|22 Mar 2017 22:14:24 -0000
vti_filesize:IR|1555
vti_cachedlinkinfo:VX|S|../centennialBuilding.jpeg
vti_cachedsvcrellinks:VX|FSUS|Assignment_4/centennialBuilding.jpeg
