#Content{
	background-color:white;
	font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	padding-left:5px;
}

#Content a {
	color:grey;
}

h2{
	color:gray;
	font-family:'Yellowtail', cursive;
}

.Header{
	color:gray;
	font-family:'Yellowtail', cursive;
	font-size:40px;
	margin-left:2%;
}

#Content ul {
	font-size:15px;
	margin-left: 5%;
}

.skyline{
	width:450px;
	height:610px;
	float:right;
}

